:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );
}

@media (min-width: 960px) {
  .container .image-src {
    left: 72%;
    max-width: 260px;
    max-height: 260px;
  }
}

/* 隐藏 Playground 和全屏按钮 */
.example-actions-playground, .example-actions-fullscreen {
  display: none;
}

/* 解决 Fluent Editor 与 VitePress 样式冲突 */
._example-showcase_8jhae_14 {
  position: relative;
}

.ql-mention-list-container .ql-mention-list {
  margin: 0;
}
