// 字体
@import './common';

.ql-formats {
  .ql-font.ql-picker {
    width: 108px;

    .ql-picker-label[data-value],
    .ql-picker-item[data-value] {
      &::before {
        content: attr(data-value);
      }
    }
    .ql-picker-item[data-value] {
      &::before {
        font-family: var(--value);
      }
    }
  }
}
