.ql-math-field {
  // background: transparent;
  border: none;

  &::part(virtual-keyboard-toggle) {
    height: unset;
  }

  &.view::part(menu-toggle) {
    display: none;
  }
}

.ql-tooltip.math-field-tooltip {
  border: none;
  z-index: 10;
  padding: 0;

  &::before {
    display: none;
  }

  .ql-math-field {
    // background: transparent;
    border: none;
    width: 400px;

    &::part(virtual-keyboard-toggle) {
      height: unset;
    }

    &.view::part(menu-toggle) {
      display: none;
    }

    &::part(container) {
      font-size: 24px;
    }
  }
}
