@import 'quill-table-up/index.css';
@import 'quill-table-up/table-creator.css';

.ql-toolbar {
  .ql-table-up.ql-picker {
    .ql-picker-label {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
